@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.servpro{
  font-size: 30px;
}
.servpara{
  font-size: 20px;
}

.breadcrumbs,
.title{
  margin-top: 7rem;
  width: 450px;
  height: 80px;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.breadcrumbs{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 100px;
  font-size: 18px;
}


.breadcrumbs ul,
.breadcrumbs ul li a{
  display: flex;
}

.breadcrumbs ul{
  height: 100%;
  align-items: center;
  justify-content: center;
}

.breadcrumbs ul li{
  margin-right: 30px;
  position: relative;
}


.breadcrumbs ul li a{
  align-items: baseline;
  color: coral;
}

.breadcrumbs ul li a .icon{
  margin-right: 7px;
}

.breadcrumbs ul li a p{
  font-size: 18px;
}

.kinfo
{ 
    margin: 50px;
    background-color: white;
    font-size: 25px;
}

.green ul li{
  font-size: 18px;
} 


.black ul li
{
  font-size: 18px;
}

  
  /* Center website */
  .main {
    margin: 50px;
    background-color: white;}
  
  h1 {
    font-size: 50px;
    word-break: break-all;
    text-shadow: 2px 2px gray;
  }
  
  .servr {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .servr,
  .servr > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    font-size: 20px;
  }
  
  /* Clear floats after rows */
  .servr:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .faq {
    margin: 50px;
    background-color: white;
    font-size: 15px;
  }

  .columns {
    float: left;
    width: 100%;
    padding: 20px;
    font-size: 18px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  /* h1{
    text-shadow: 2px 2px gray;
    margin: 20px;
    font-size: 3rem;
} */
hr{
    border: 2px solid gray;
  }
body{
  background-color: white;
}




  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" servb */
  .servb {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    display: inline;
  }
  .servb:hover{
    background-color: seagreen;
    font-size: 20px;

  } 
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }

  .te{
    margin: 50px;
  }
  .servbtn{
    font-size: 20px;
    background-color: lightseagreen;
  }
