{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/floorcleaning.css">

{% endblock %}
{% block body %}
  <div class="breadcrumbs">
    <ul>
      <li><a href="#">
      <i class="fas fa-home icon"></i>
      <p>HOME 
      </a></li>
      <li><a href="#">
      <i class="fas fa-tshirt icon"></i>
      <p>SERVICE 
      </a></li>
      <li><a href="#">
      <i class="fas fa-shopping-cart icon"></i>
      <p>HOME CLEANING 
      </a></li>
    </ul>
  </div>
<br>
<h1 style="margin-left: 4%;">BATHROOM CLEANING</h1>
  <hr>
  <section style="margin-left: 6%;">
       <div class="info">
         <h4 class="servpro">Inclusions & Exclusions</h4><br>
            <div class="green">
              <ul style="list-style-type: none;">
                <li><p> &#9989;Equipments carried - Mops, buckets, cleaning agents, dusters & garbage bags. </p></li>
                <li><p> &#9989; Deep cleaning of Bathroom Floor and wall tiles. (False ceiling will not be cleaned) </p></li>
                <li><p> &#9989; Cleaning of all bathroom fittings, exhaust fans and geyser. </p></li>
                <li><p> &#9989; Cleaning of mirrors, windows and doors. </p></li>
                <li><p> &#9989; Eco - Friendly Chemical used for cleaning. </p></li>
                <li><p> &#9989; Hard water stains can be removed upto 70 -80%,. </p></li>
                <br>
              </ul>
            </div>

            <br><h4 class="servpro" style="font-size: 30px;">Procedure</h4><br>
            <p class="servpara">Cleaning and scrubbing the floor & tiles focusing on dirt removal from pores, stain removal and restoring shine.</p>
      </div>
 
    

      <h4 class="servpro pt-4">PRICES</h4>
    <div class="te">
    </section>
    </div>
    <section>
      <div class="columns">
        <ul class="price">
          <li class="header"style="background-color:lightseagreen;">BATHROOM CLEANING</li>
          <li class="grey">floor + Tiles Cleaning = Rs 999/-</li>
          <li>RESIDENT / COMMERCIAL</li>
          <li class="grey"><a href="/booked?serviceId={{ serviceId.id }}" class="servbtn">Book Now</a></li>
        </ul>
      </div>

       
    </section>
    <section>
      <div class="main">    
        <h2>KARIGAR EXPERT PROFILES</h2> 
     
        <div class="row">
          <div class="column">
            <div class="content">
              <h3>Rajwati</h3>
              <p>Karigar Expert, Delhi <br>
              4.7 &#11088; overall rating<br>
            49 jobs completed</p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <h3>Barmali Sarkar</h3>
              <p>Karigar Expert, Delhi <br>
                4 &#11088; overall rating<br>
              29 jobs completed</p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <h3>Gangaram Kumar</h3>
              <p>Karigar Expert, Delhi <br>
                5 &#11088; overall rating<br>
              81 jobs completed</p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <h3>SONIA</h3>
              <p>Karigar Expert, Delhi <br>
                3.9 &#11088; overall rating<br>
              5 jobs completed</p>
            </div>
          </div>
        </div> 
      </div>
    </section>

    <section>
      <div class="faq">
        <br><h2>FAQs</h2><br>

        <p><h3>How to clean bathroom tiles?</h3>
         Bathroom walls tiles are notorious for retaining soap scum and dust particles. They can lose their sparkle, primarily if you use oily soaps and beauty products. To restore the oomph effectively, you need a sponge or scrubber, tile cleaner/detergent, a spray bottle and a dry towel (that you do not use). Start by applying the softener on the tiles and leave it for a while. This will help loosen up scum and dirt, making it easy to scrub.<br></p><br>
      
        <p><h3>How to clean the bathroom floor?</h3>
            The bathroom floor should be the last part you clean. The method you use will depend highly on the floor’s material. Marble and ceramic tiles require different cleaning approaches and detergents;

            How to clean bathroom marble floor tiles; marble is a sensitive natural stone which needs to be protected from scratches and harsh cleaners. Avoid acidic detergents, including homemade solutions. When cleaning marble tiles use mild cleaners or commercial marble soap. Start by wiping the floor with a soft piece of cloth or sweeping it with a soft brush to remove any dirt that might scratch the floor.

            Proceed to apply the marble cleaner and scrub gently with a delicate piece of cloth or sponge. Once you’re done washing the floor, rinse with clean water and wipe with a dry piece of cloth or mop.<br>
        <br></p><br>
    </div>
    </section>
{% endblock %}
