{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/floorcleaning.css">

{% endblock %}
{% block body %}    <div class="breadcrumbs">
        <ul>
          <li><a href="#">
          <i class="fas fa-home icon"></i>
          <p>HOME 
          </a></li>
          <li><a href="#">
          <i class="fas fa-tshirt icon"></i>
          <p>SERVICE 
          </a></li>
          <li><a href="#">
          <i class="fas fa-shopping-cart icon"></i>
          <p>HOME CLEANING 
          </a></li>
        </ul>
      </div>
    <br>
    <h1 style="margin-left: 4%;">CARPENTER</h1>
      <hr>
      <section  style="margin-left: 6%;">
           <div class="info">
             <div class="servpro">Inclusions & Exclusions</div><br>
                <div class="green">
                  <ul style="list-style-type: none;">
                    <li><p> &#9989; Furniture Making</p></li>
                    <li><p> &#9989; Furniture Repair </p></li>
                    <li><p> &#9989; Repair and Fixes </p></li>
                    <li><p> &#9989; Furniture Assemble </p></li>
                    <li><p> &#9989; Carpenter on Demand </p></li>
                    <li><p> &#9989; Full day Booking</p></li>
                    <br>
                  </ul>
                </div>
    
                <br><h4 class="servpro" style="font-size: 30px;">Procedure</h4>
                <p class="servpara">Best Carpenter at your door step, Doorstep service, Insurance, post service guarantee, Customer Centric. </p>
          </div><br>
     
        
    
          <h4 class="servpro pt-4">PRICES</h4>
        <div class="te">
        </section>
        </div>
        <section>
          <div class="columns">
            <ul class="price">
              <li class="header"style="background-color:lightseagreen;">Carpenter (per Hour)</li>
              <li class="grey">Rs 300/- </li>
              <li>RESIDENT / COMMERCIAL</li>
              <li class="grey"><a href="/booked?serviceId={{ serviceId.id }}" class="servbtn">Book Now</a></li>
            </ul>
          </div>
    
           
        </section>
        <section>
          <div class="main">    
            <h2>KARIGAR EXPERT PROFILES</h2> 
         
            <div class="row">
              <div class="column">
                <div class="content">
                  <h3>Rajwati</h3>
                  <p>Karigar Expert, Delhi <br>
                  4.7 &#11088; overall rating<br>
                49 jobs completed</p>
                </div>
              </div>
              <div class="column">
                <div class="content">
                  <h3>Barmali Sarkar</h3>
                  <p>Karigar Expert, Delhi <br>
                    4 &#11088; overall rating<br>
                  29 jobs completed</p>
                </div>
              </div>
              <div class="column">
                <div class="content">
                  <h3>Gangaram Kumar</h3>
                  <p>Karigar Expert, Delhi <br>
                    5 &#11088; overall rating<br>
                  81 jobs completed</p>
                </div>
              </div>
              <div class="column">
                <div class="content">
                  <h3>SONIA</h3>
                  <p>Karigar Expert, Delhi <br>
                    3.9 &#11088; overall rating<br>
                  5 jobs completed</p>
                </div>
              </div>
            </div> 
          </div>
        </section>
    
        <section>
          <div class="faq">
            <br><h2>FAQs</h2><br>
    
            <p><h3>What if i need a carpenter for whole day, how will i be charged?</h3>
             You can discuss scenario with the expert.We make sure that the price by he expert is reasonable and less than the market.<br></p><br>
            <p><h3>Do i need to pay anything in upfront?</h3>
                No, We believe in complete satisfaction of our client and thus we believe in post servive payment. </p><br>
        </div>
        </section>

{% endblock %}
