{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/floorcleaning.css">

{% endblock %}
{% block body %}
    <div class="breadcrumbs">
        <ul>
          <li><a href="#">
          <i class="fas fa-home icon"></i>
          <p>HOME 
          </a></li>
          <li><a href="#">
          <i class="fas fa-tshirt icon"></i>
          <p>SERVICE 
          </a></li>
          <li><a href="#">
          <i class="fas fa-shopping-cart icon"></i>
          <p>HOME CLEANING 
          </a></li>
        </ul>
      </div><br>

    <h1 style="margin-left: 4%;">KITCHEN CLEANING</h1>
    <hr>
    <section style="margin-left: 6%;">
    <div class="info">
        <h2 class="servpro">ALL ABOUT KITCHEN CLEANING</h2><br>
        <p class="servpara">Cooking in the kitchen produces grease, moisture and smoke. There are food crumbs, food items adn trash
            in the bin that can attract pests of various kinds if you do not clean your kitchen and throw out the 
            trash regularly. Your kitchen also needs deep cleaning regularly so that every hidden corner is cleaned and 
            sanitized and does not act as a breeding ground for germs. It is, therfore, recommended to hire professional for 
            cleaning in periodically. From windows, ventilatores and gas knobs to exhaust fans, kitchen tiles and switchboards,
            everything is cleaned thoroughly. The cleaning professional remove oil stains from tiles, appliances, etc  and cleaned
            steel. They also scrub and disinfect the floor in addition to cleaning kitchen cabinets.<br><br>

            <br><h2>BENEFITS OF KITCHEN CLEANING SERVICE</h2><br>

            <div class="green">
            <ul style="list-style-type: none;">
                <li>&#10102; Improve Working Conditions</li>
                <li>&#10103; Increases hygiene</li>
                <li>&#10104; Reduces Food Borne Diseases</li>
                <li>&#10105; Keep your envirnment healthy</li>
            </ul><br>

            <br><h3>INCLUSION</h3><br>
            <ul style="list-style-type: none;">
                <li>&#9989; Cleaning of windows and ventilators, ceiling fans, exhaust fans , etc..</li>
                <li>&#9989; Oil removal procedure</li>
                <li>&#9989; Cleaning of doors and doors handles</li>
                <li>&#9989; Gas hobs/ burners & chimney hoods cleaning</li>
                <li>&#9989; Sink and wash zone cleaning</li>
                <li>&#9989; Cleaning of all stainless steel and chrome fittings</li>
                <li>&#9989; Kitchen appliances like refrigerators, microwaves, toasters, etc..</li>
            </ul>
            </div>
        </p>
    </div>
             <br><h2 class="servpro" style="font-size: 30px;">Procedure</h2><br>
            <p class="servpara">Cleaning and scrubbing the floor focusing on dirt removal from pores, stain removal and restoring shine.</p>

        <h2 class="servpro pt-4">PRICES</h2>
         <div class="te">
         </section>
      </div>
      <section>
        <div class="columns">
          <ul class="price">
            <li class="header"style="background-color:lightseagreen;">KITCHEN CLEANING</li>
            <li> Kitchen with utensiles = Rs 1499</li>
            <li>RESIDENT / COMMERCIAL</li>
          <li class="grey"><a href="/booked? serviceId={{ serviceId.id }}" class="button">Book Now</a></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="main">    
          <h2>KARIGAR EXPERT PROFILES</h2> 
       
          <div class="row">
            <div class="column">
              <div class="content">
                <h3>Rajwati</h3>
                <p>Karigar Expert, Delhi <br>
                4.7 &#11088; overall rating<br>
              49 jobs completed</p>
              </div>
            </div>
            <div class="column">
              <div class="content">
                <h3>Barmali Sarkar</h3>
                <p>Karigar Expert, Delhi <br>
                  4 &#11088; overall rating<br>
                29 jobs completed</p>
              </div>
            </div>
            <div class="column">
              <div class="content">
                <h3>Gangaram Kumar</h3>
                <p>Karigar Expert, Delhi <br>
                  5 &#11088; overall rating<br>
                81 jobs completed</p>
              </div>
            </div>
            <div class="column">
              <div class="content">
                <h3>SONIA</h3>
                <p>Karigar Expert, Delhi <br>
                  3.9 &#11088; overall rating<br>
                5 jobs completed</p>
              </div>
            </div>
          </div> 
        </div>
      </section>
      <section>
        <div class="faq">
          <br><h2>FAQs</h2><br> 

          <p><h3> How much time does it take to clean a multi-utility kitchen?</h3><br>
          It usually takes 2-3 hours to deep clean one multi-utility kitchen. The actualduratuon depends on the carpet area of the kitchen and feactures like a number of cabinets,ect .<br></p><br>
  
          <p><h3>How often should I get my kitchen deep cleaned?</h3>
          <br> Bring the busiest room of the home,it picks up a lot of dust and biodegradable wastes too, which makes regular cleaning crucial,say every week. But kitchen deep cleaning should be done every once in a month to ensure a healthy breathing.<br>
        <br></p><br>
      </div>
      </section>
{% endblock %}
