{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/floorcleaning.css">

{% endblock %}
{% block body %}
    <div class="breadcrumbs">
        <ul>
          <li><a href="#">
          <i class="fas fa-home icon"></i>
          <p>HOME 
          </a></li>
          <li><a href="#">
          <i class="fas fa-tshirt icon"></i>
          <p>SERVICE 
          </a></li>
          <li><a href="#">
          <i class="fas fa-shopping-cart icon"></i>
          <p>APPLIANCE REPAIRING 
          </a></li>
        </ul>
      </div><br>

    <h1>Appliance Repairing</h1>
    <hr>

    <div class="kinfo">
        <h2> Refrigerator Repairing</h2><br>
        <p>With the increasing dangers of the pandemic, practicing social distancing and quarantining ourselves at our homes has become the new norm. With no knowledge of what lies ahead, we have learned to engage in many DIY activities that not only bring out the creative side of us but also make us more efficient and effective. All kind of repairing facilities are available at our place.
We have our employees with full safety measures, they will have proper temperature checkup,also we ensure no dirt remains once employee leave. YOUR SAFETY IS OUR TOP PRIORITY.<br><br>

            <br><h3>BENEFITS OF Reapiring at HOME</h3><br>
            <ul>
                <li>&#10102; Ensures your safety</li>
                <li>&#10103; Time Saving</li>
                <li>&#10104; Convenient</li>
                <li>&#10105; Doorstep repair within 60 Minutes.</li>
		<li>&#10105; Modern facilities available at your doorstep</li>
		<li>&#10105; Protection againsst damage upto INR 12000</li>
		<li>&#10105; 100 days post-repair gurantee</li>
            </ul><br>

            <br><h3>INCLUSION</h3><br>
            <ul>
                <li>&#9989; Installing</li>
                <li>&#9989; No/Less colling</li>
                <li>&#9989; Compressor issue</li>
                <li>&#9989; Uninstalling/li>
                <li>&#9989; Buttons not performing</li>
		<li>&#9989; Water Leakage</li>
                <li>&#9989; Other</li>
            </ul>
        </p>
    </div>

    
  
      <div class="te">
        <h2>PRICES</h2>
      </div>
      <section>
	<div class="columns">
          <ul class="price">
            <li class="header"style="background-color:lightseagreen;">APPLIANCE REPAIR</li>
            <li class="grey">REFRIEGERATOR REPAIRING</li>
            <li>Rs 750 -All issues</li>
            <li class="grey"><a href="/booked?serviceId={{ serviceId.id }}" class="button">BOOK NOW</a></li>
          </ul>
        </div>
  
        
        <div class="main">    
          <h2>KARIGAR EXPERT PROFILES</h2> 
       
          <div class="row">
            <div class="column">
              <div class="content">
                <h3>Shiv Narayan</h3>
                <p>Karigar Expert, Delhi <br>
                4.7 &#11088; overall rating<br>
               120 jobs completed</p>
              </div>
            </div>
            <div class="column">
              <div class="content">
                  <h3>Nitin</h3>
                <p>Karigar Expert, Delhi <br>
                  4.4 &#11088; overall rating<br>
                70 jobs completed</p>
              </div>
            </div>
            <div class="column">
              <div class="content">
                 <h3>Rihan</h3>
                <p>Karigar Expert, Delhi <br>
                  3.7 &#11088; overall rating<br>
                45 jobs completed<=/p>
              </div>
            </div>
            <div class="column">
              <div class="content">
                 <h3>Avinash</h3>
                <p>Karigar Expert, Delhi <br>
                  3.3 &#11088; overall rating<br>
                29 jobs completed</p>
              </div>
            </div>
          </div> 
        </div>
      </section>
  
      <section>
        <div class="faq">
          <br><h2>FAQs</h2><br>
          <p><h3>Does you employee have proper hygiene?</h3><br>
          Absolutely,they will have all kind of safety measures taken,YOUR SAFETY IS OUR TOP PRIORITY.<br></p><br>
  
          <p><h3>How do I Maintain my Machine?</h3>
          <br> Keep your machine at level, never overload your machine,Clean the Coils,Maintain the Temperature,Close the Door,Cover Food</p>
        </div>
      </section>
{% endblock %}
